@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
.wrapper {
  max-width: 1903px;
  font-family: "Poppins";
}

.header {
  display: grid;
  background: url(./img/grassbgjpg.jpg);
  justify-items: center;
  height: 840px;
  color: #ffffff;
}

.head_title_container {
  height: 96px;
  position: relative;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.head_title_container img {
  position: absolute;
  display: block;
  left: -30%;
  top: 50%;
  height: 96px;
}
.head_title_container .tophead_title {
  font-weight: 800;
  font-size: 3.75rem;
  padding-bottom: 2rem;
}
.head_title_container .tophead_title span {
  letter-spacing: 0.26em;
  font-size: 1.7rem;
  display: block;
  padding: 0;
  margin: 0;
}

.top_button {
  margin-left: -40px;
}

.btn-head {
  width: 100%;
  color: #ffffff;
  padding: 19px 48px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 59px;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.btn-head:hover {
  background: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);
}

.head_title {
  text-align: center;
  font-weight: 900;
  font-size: 9rem;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  margin-bottom: 4rem;
}

.button_container {
  margin-bottom: 6rem;
}

.btn-main {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 27px;
  padding: 22px 53px;
  text-align: center;
  color: #48924f;
  background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #f9f9f9 100%);
  box-shadow: 0px 10px 50px rgba(16, 51, 30, 0.5);
  border-radius: 35px;
  cursor: pointer;
}
.btn-main:hover {
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.services_wrapper {
  margin: 0rem 5rem;
  max-width: 1200px;
  display: grid;
  justify-items: center;
}
.services_wrapper.button_container {
  margin-bottom: 0;
  color: rgb(108, 185, 129);
}

.title {
  color: rgb(130, 130, 130);
  font-weight: 800;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  position: relative;
}
.title img {
  position: absolute;
  left: 38%;
  top: 100%;
  transform: translate(0, -50%);
}

.services_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  margin-bottom: 4rem;
}

.card {
  border-radius: 5%;
  box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
  width: 385px;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.services_content {
  margin: 30px;
  text-align: left;
}

.title_services_container {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: rgb(13, 77, 20);
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0d4d14;
}

.info_container {
  background: url(./img/grassbg2.jpg);
}

.feedback {
  display: grid;
  justify-items: center;
}

.feedback_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.813rem;
  max-width: 1200px;
}

.feedback_container {
  max-width: 577px;
  padding: 1.875rem;
  border: 1px solid #6cb981;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  gap: 0.875rem;
}

.feedback_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: rgb(108, 185, 129);
}

.checked {
  color: rgb(108, 185, 129);
}

.form {
  width: 374px;
}
.form input {
  width: 374px;
  height: 56px;
  background: #9fdea9;
  border-radius: 61px;
  margin-bottom: 1rem;
  text-align: center;
  border: none;
}
.form button {
  border: 3px solid #4db96b;
  border-radius: 61px;
  width: 168px;
  height: 56px;
}
.form button:hover {
  background: #27b14a;
}

.footer {
  color: #324b29;
  height: 145px;
}/*# sourceMappingURL=style.css.map */